
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.titulo{
    text-align: center;
    background-color: rgb(194, 192, 192);
    color: rgb(0, 207, 207);
    font-size: 70px;
}
body{
    background-color: rgb(192, 192, 192);
}
.tabela{
    font-size: 20px;
    color: aliceblue;
    font-family: black;
}