
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.titulo{
    text-align: center;
    background-color: aquamarine;
    color: azure;
    font-size: 70px;
}
body{
    background-color: blue;
}
.tabela{
    font-size: 20px;
    color: aliceblue;
    font-family: black;
}